<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>10</string>
					<key>EndingLineNumber</key>
					<string>26</string>
					<key>StartingColumnNumber</key>
					<string>8</string>
					<key>StartingLineNumber</key>
					<string>26</string>
					<key>Timestamp</key>
					<string>728337625.733186</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>GHFollowers/Custom Views/Cells/FollowerCell/FollowerCell.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>if</string>
				<key>leading</key>
				<string>    
    func set(follower: Follower) {
        </string>
				<key>trailing</key>
				<string> #available(iOS 16.0, *) {
            contentConfiguration = UIHostingConfiguration(content: {
                FollowerView(follower: follower)
</string>
			</dict>
			<key>title</key>
			<string>SwiftUI View</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>30</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>29</string>
					<key>Timestamp</key>
					<string>729108380.704615</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>GHFollowers/Screens/LoginVC.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    
</string>
				<key>leading</key>
				<string>    }
    
</string>
				<key>trailing</key>
				<string>    
    func configureTitleLabel() {
        titleLabel.text = "Log into your GitHub"
</string>
			</dict>
			<key>title</key>
			<string>Make networkCall login and alert</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
